<!doctype html>
<html lang = "en">
<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Alert System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body class>
    <nav class = "navbar">
        <ul>
            <li><img class = "logo-img" src="{{ url_for('static', filename='alert.png') }}"></li>
            <li class = "logo">Amazon Alert System</li>
            <li><a href = {{url_for('alert_system')}}>Alert System</a></li>
            <li><a href = {{url_for('app_password')}}>App Password</a></li>
            <li><a href = {{url_for('about')}}>About</a></li>
            <li><a href ={{url_for('instructions')}}>Instructions</a></li>
        </ul>
    </nav>
    <div class = "title">
        <h1>How to get your app password</h1>
    </div>
    <div class = "instructions">
        <p>
            To get your own App password for your Gmail account (Remember this alert system only works with a gmail account) click <a class = "here" href = "https://support.google.com/mail/answer/185833?hl=en">here</a> and follow the instructions or watch the video on the right!
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lSURGX0JHbA?si=mfrL74WZUVbz6fZF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</body>
</html>